@use "global" as *;

/////////////////////////////
/// FV
/////////////////////////////
.p-top__fv{
	margin-top: -1.6rem;
	@include mq(md-down){
		margin-top: 0;
		padding-top: 1rem;
	}
}

.p-top__fv__cards{

}

.p-top__fv__card{
	width: 41.3889%;
	max-width: 59.6rem;
	margin: 4.0rem calc(6.4rem / 2) 0;
	transition: all 0.3s ease 0s;
	padding-top: 4rem;//box-shadowの分
	padding-bottom: 5rem;//box-shadowの分
	@include mq(md-down){
		width: 77.4359%;
		max-width: 30.2rem;
		margin: 1.2rem calc(1.6rem / 2) 0;
	}
	&.swiper-slide-active{
		margin-top: 0;
	}
}

.p-top__fv__swiper{
	--btn-size: 3.6rem;
	.swiper-button-next, .swiper-button-prev{
		top: 48%;
		width: var(--btn-size);
		height: var(--btn-size);
		@include mq(md-down){
			top:45%;
		}
		@include hs(hp){
			transition: all 0.3s ease 0s;
			&:hover{
				opacity: 0.8;
			}
		}
		@include hs(hi){
			&:active{
				opacity: 0.8;
			}
		}
		&::after{
			display: none;
		}
	}
	.swiper-button-next{
		right: calc(50% - (min(41.3889%, 59.6rem) / 2) - 4.2rem - var(--btn-size));
		@include mq(md-down){
			right: calc(50% - (min(77.4359%, 30.2rem) / 2) - var(--btn-size));
		}
	}
	.swiper-button-prev{
		left: calc(50% - (min(41.3889%, 59.6rem) / 2) - 4.2rem - var(--btn-size));
		@include mq(md-down){
			left: calc(50% - (min(77.4359%, 30.2rem) / 2) - var(--btn-size));
		}
	}
}

/////////////////////////////
/// newest
/////////////////////////////

.p-top__newest{
	padding: 3.8rem 0;
	@include mq(sm-down){
		padding: 4.8rem 0 4.0rem;
	}
}

.p-top__newest__inner{
	@include mq(sm-down){
		max-width: calc(30.2rem + 2rem * 2);
		margin: 0 auto;
	}
}
.p-top__newest__title{
	width: fit-content;
	margin: 0 auto;
	@include mq(sm-down){
		margin: 0 auto 0 0;
	}
}

.p-top__newest__list{
	margin-top: 4.8rem;
	display: flex;
	justify-content: space-between;
	@include mq(md-down){
		flex-wrap: wrap;
		justify-content: center;
		gap: 3rem 6.4rem;
	}
	@include mq(sm-down){
		margin-top: 3.2rem;
		flex-wrap: nowrap;
		flex-direction: column;	
		gap: 2rem;
	}
}

.p-top__newest__item{
	width: 31%;
	max-width: 30.2rem;
	@include mq(md-down){
		width: 30.2rem;
		max-width: 100%;
	}
	@include mq(sm-down){
		margin: 0 auto;
	}
}

.p-top__newest__btn{
	width: 17.2rem;
	max-width: 100%;
	margin: 4.8rem auto 0;
	@include mq(sm-down){
		width: 16.1rem;
		margin: 3.2rem 0 0 auto;
	}
}

/////////////////////////////
/// popular
/////////////////////////////

.p-top__popular{
	padding: 6.4rem 0;
	background: #629DE2 url(../img/top/bg_popular.webp) no-repeat center center / cover;
	overflow: hidden;
}

.p-top__popular__inner{
	width: calc(1094px / 2 - 30px + 50vw);
}

.p-top__popular__title{

}


.p-top__popular__cards{
	margin-top: 3.6rem;
	box-sizing: border-box;
}

.p-top__popular__card{
}


.p-top__popular__swiper{
	overflow: visible;
	.swiper-button-prev, .swiper-button-next{
		top: 50%;
		width: 3.6rem;
		height: 3.6rem;
		@include hs(hp){
			transition: all 0.3s ease 0s;
			&:hover{
				opacity: 0.8;
			}
		}
		@include hs(hi){
			&:active{
				opacity: 0.8;
			}
		}
		&::after{
			display: none;
		}
	}
	.swiper-button-prev{
		
	}
	.swiper-button-next{
	
	}
	.swiper-scrollbar{
	}
}
