// ブレークポイント
$pc-width: 1024px; // PCサイズ
$tab-width: 600px; // TABサイズ

$breakpoints: (
  'sp': 'screen and (max-width: #{$tab-width - 1px})',//スマホ幅
  'tab':'screen and (min-width: #{$tab-width}) and (max-width: #{$pc-width - 1px})',//タブレット幅
  'pc': 'screen and (min-width: #{$pc-width})',//PC幅
) !default;

//メディア特性(hover)
$hover-possibilities: (
  'hp':'(hover: hover)', /* hover possible:hover指定できるPCを想定したスタイル */
  'hi':'(hover: none)',  /* hover impossible:hoverが使えないタッチ端末を想定した装飾 */
) !default;

//font
$font-family: "Jost", "Noto Sans JP", sans-serif;

//color
$color-Base: #FFF;
$color-main: #F2F4F1;
$color-accent1: #609484;
$color-accent2: #948260;
$color-font-dark: #565956;
$color-font-light: #FFF;


//size
$size-header-height-pc: 70px;
$size-header-height-sp: 48px;
$size-inner-width-pc: 1180px;

// z-index
$layer: (
  header: 900, // ヘッダー
  default: 0, //default
);

