@use "global" as *;

.c-cta{
	background: transparent url('../img/common/bg_cta.webp') no-repeat center center / cover;
	padding: 7.4rem 3rem;
	display: flex;
	justify-content: center;
	gap: 13rem;
	@include mq(md-down){
		padding: 6.4rem 3rem 6.4rem 3rem;
	}
	@include mq(sm-down){
		padding: 4rem 2rem 4rem 2rem;
	}
}

.c-cta__inner{
	display: flex;
	justify-content: center;
	gap: 13rem;
	@include mq(lg-down){
		gap: 10rem;
	}
	@include mq(md-down){
		flex-direction: column;
		gap: 6.4rem;
		padding-right: 2.8rem;
	}
	@include mq(sm-down){
		flex-direction: column;
		gap: 2.4rem;
	}
}